doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= siteTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Calvin 'calzoneman 'cyzon' Montgomery")

    link(href="css/bootstrap.css", rel="stylesheet")
    link(href="css/bootstrap-theme.css", rel="stylesheet")
    link(href="css/navbar-footer.css", rel="stylesheet")
    link(href="css/cytube.css", rel="stylesheet")

  body
    #wrap
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href="index.html")= siteTitle
          .ul.nav.navbar-nav
            li.active: a(href="index.html") Home
            li
              a(href="https://github.com/calzoneman/sync/wiki/Beginner%27s-Guide-and-FAQ", target="_blank") Help
            li: a(href="account.html") Account
          form#loginform.navbar-form.navbar-right(action="javascript:void(0)")
            .form-group
              input#guestname.form-control(type="text", placeholder="Name")
            button#guestlogin.btn.btn-default Guest Login
            button#login.btn.btn-default Login
          #logoutform.navbar-right(style="display: none")
            p#welcome.navbar-text
      #mainpage.container
        #toprow.row
          #motdwrap.col-lg-12
            #motd.well
          #drinkbarwrap.col-lg-12
            #drinkbar
              h1#drinkcount
        #announcements.row
        #main.row
          #chatwrap.col-lg-5
            #usercountwrap
              i#userlisttoggle.glyphicon.glyphicon-chevron-up.pull-left.pointer(title="Show/Hide Userlist")
              span#usercount.pointer Not Connected
              span#modflair.label.label-default.pull-right.pointer M
              span#adminflair.label.label-default.pull-right.pointer A
            #userlist
            #messagebuffer
            input#chatline.form-control(type="text", maxlength="240")
          #videowrap.col-lg-7
            p#currenttitle Nothing Playling
            #ytapiplayer
        #playlistrow.row
          #leftpane.col-lg-5
            #leftpane-inner.row
              #pollbtnwrap.col-lg-12
                button#newpollbtn.btn.btn-sm.btn-default New Poll
              #pollwrap.col-lg-12
              #searchwrap.col-lg-12
                #searchpanel-group.panel-group
                  #searchpanel.panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a.accordion-toggle(data-toggle="collapse", data-parent="#searchpanel-group", href="#librarywrap") Library/YouTube Search
                    #librarywrap.panel-body.collapse
                      .row
                        #querywrap.col-lg-12
                          .input-group
                            input#library_query.form-control(type="text")
                            span.input-group-btn
                              button#library_search.btn.btn-default Library
                            span.input-group-btn
                              button#youtube_search.btn.btn-default YouTube
                        // #searchbtns.col-lg-6.btn-group
                      ul#library.videolist.col-lg-12
              #playlistmanagerwrap.col-lg-12
                #playlistmanager-group.panel-group
                  #playlistmanagerpanel.panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a#userpltoggle.accordion-toggle(data-toggle="collapse", data-parent="playlistmanager-group", href="#userplaylistwrap") Playlist Manager
                    #userplaylistwrap.panel-body.collapse
                      .row
                        .col-lg-12
                          .input-group
                            input#userpl_name.form-control(type="text", placeholder="Playlist Name")
                            span.input-group-btn
                              button#userpl_save.btn.btn-default Save
                        ul#userpl_list.col-lg-12
          #rightpane.col-lg-7
            #rightpane-inner.row
              #qualitywrap.col-lg-12
                .dropdown.btn-group
                  button#qdrop.btn.btn-sm.btn-default.dropdown-toggle(data-toggle="dropdown") Quality
                    b.caret
                  mixin quality_item(id, text)
                    li(role="presentation")
                      a(id="#{id}", role="menuitem", href="javascript:void(0)") #{text}
                  ul.dropdown-menu(role="menu", aria-labelledby="qdrop")
                    +quality_item("quality_auto", "Quality: Auto")
                    +quality_item("quality_240p", "240p")
                    +quality_item("quality_360p", "360p")
                    +quality_item("quality_480p", "480p")
                    +quality_item("quality_720p", "720p")
                    +quality_item("quality_1080p", "1080p")
                button#mediarefresh.btn.btn-sm.btn-default Refresh Media
              // electric boogaloo
              #queue_align2
              #plcontrolsouterwrap.col-lg-12
                #plcontrols-group.panel-group
                  #plcontrolspanel.panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a.accordion-toggle(data-toggle="collapse", data-parent="#plcontrols-group", href="#playlist_controls") Playlist Controls
              
                    #playlist_controls.panel-body.collapse
                      .row
                        .col-lg-12
                          .input-group
                            input#mediaurl.form-control.input-block-level(type="text", placeholder="Media URL")
                            span.input-group-btn
                              button#queue_next.btn.btn-default Next
                            span.input-group-btn
                              button#queue_end.btn.btn-default At End
                      .row
                        #customembed_wrap.col-lg-12
                          button#customembed_btn.btn.btn-default.btn-block Custom Embed
                          #customembed_entry
                            | Paste the embed code below and click Next or End.
                            | Acceptable embed codes are <code>&lt;iframe&gt;</code> and <code>&lt;object&gt;</code> tags.
                            textarea#customembed_code.input-block-level.form-control(rows="3")
                        #extended_controls.col-lg-12
                          button#clearplaylist.btn.btn-default.btn-block Clear Playlist
                          button#shuffleplaylist.btn.btn-default.btn-block Shuffle Playlist
              #voteskipwrap.col-lg-12.btn-group
                button#voteskip.btn.btn-default Voteskip
                button#getplaylist.btn.btn-default Get Playlist URLs
                button#qlockbtn.btn.btn-danger(title="Playlist Locked")
                  i.glyphicon.glyphicon-lock
              .col-lg-12
                #queue.videolist
                  li.queue_entry
                    a.qe_title(href="#") Derp
                    span.qe_time 00:00
                    div.qe_clear
                  li.queue_entry.queue_active.queue_temp
                    a.qe_title(href="#") Derp
                    span.qe_time 00:00
                    div.qe_clear
                #plmeta
                  span#plclount 0 items
                  span#pllength 00:00:00
        #channelsettingswrap-outer.row
          #channelsettingswrap-inner.col-lg-12
            #channelsettingswrap.well
              include modoptions.jade
        #resizewrap.row
          .col-lg-5
          #videowidth.col-lg-7
        #sitefooter
    #footer
      .container
        p.muted.credit.
          CyTube Software Copyright &copy; 2013 Calvin Montgomery&nbsp;&middot;&nbsp;Available for free on <a href="http://github.com/calzoneman/sync">GitHub</a>&nbsp;&middot;&nbsp;<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5Y7PUVVGVSEWG&lc=US&item_name=CyTube&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted">Donate</a>
    script(src="js/jquery.js")
    script(src="js/bootstrap.js")
    script(src="js/respond.js")
    script(src="js/iourl.js")
