script(src="js/modoptions.js")
button#hide_settings.pull-right.close &times;
.dropup.btn-group
  button#moddrop.btn.btn-sm.btn-default.dropdown-toggle(data-toggle="dropdown") Moderator Settings
    b.caret
  mixin moditem(id, text)
    li(role="presentation", id="#{id}_tab")
      a(id="show_#{id}", role="menuitem", href="javascript:void(0)") #{text}
  ul.dropdown-menu(role="menu", aria-labelledby="moddrop")
    +moditem("optedit", "Channel Options")
    +moditem("permedit", "Permissions")
    +moditem("filteredit", "Chat Filters")
    +moditem("motdedit", "MOTD Editor")
    +moditem("cssedit", "CSS Editor")
    +moditem("jsedit", "JS Editor")
    +moditem("banlist", "Ban List")
    +moditem("channelranks", "Channel Ranks")
    +moditem("loginhistory", "Recent Connections")
    +moditem("chanlog", "Channel Log")

hr

#optedit.col-lg-12
  h3 Channel Options
  form.form-horizontal(role="form", action="javascript:void(0)")
    // Prevent chat flood
    .form-group
      label.col-lg-3.control-label(for="opt_chat_antiflood") Prevent Chat Flood
      .col-lg-3
        .checkbox
          input#opt_chat_antiflood(type="checkbox")
    // convert URLs to links
    .form-group
      label.col-lg-3.control-label(for="opt_enable_link_regex") Convert URLs in chat to links
      .col-lg-3
        .checkbox
          input#opt_enable_link_regex(type="checkbox")
    // voteskip toggle
    .form-group
      label.col-lg-3.control-label(for="opt_allow_voteskip") Allow Voteskip
      .col-lg-3
        .checkbox
          input#opt_allow_voteskip(type="checkbox")
    // voteskip ratio
    .form-group
      label.col-lg-3.control-label(for="opt_voteskip_ratio") Voteskip Ratio
      .col-lg-3
        input#opt_voteskip_ratio.form-control(type="text", placeholder="0.5")
    // max video length
    .form-group
      label.col-lg-3.control-label(for="opt_maxlength") Maximum Video Length
      .col-lg-3
        input#opt_maxlength.form-control(type="text", placeholder="HH:MM:SS")
    // auto afk
    .form-group
      label.col-lg-3.control-label(for="opt_afktimeout") Auto AFK Delay (0 to disable)
      .col-lg-3
        input#opt_afktimeout.form-control(type="text", placeholder="0")
    hr
    h3 Admin-Only Options
    // page title
    .form-group
      label.col-lg-3.control-label(for="opt_pagetitle") Page Title
      .col-lg-3
        input#opt_pagetitle.form-control(type="text", placeholder="CyTube")
    // external css
    .form-group
      label.col-lg-3.control-label(for="opt_externalcss") External CSS
      .col-lg-3
        input#opt_externalcss.form-control(type="text", placeholder="Stylesheet URL")
    // external javascript
    .form-group
      label.col-lg-3.control-label(for="opt_externaljs") External JS
      .col-lg-3
        input#opt_externaljs.form-control(type="text", placeholder="Script URL")
    // show publicly
    .form-group
      label.col-lg-3.control-label(for="opt_show_public") List Channel Publicly
      .col-lg-3
        .checkbox
          input#opt_show_public(type="checkbox")
    // unregister
    .form-group
      label.col-lg-3.control-label(for="chanopts_unregister") Unregister Channel
      .col-lg-3
        button#chanopts_unregister.btn.btn-sm.btn-danger Drop Channel
    // submit
    .form-group
      label.col-lg-3.control-label(for="chanopts_submit") Save Changes
      .col-lg-3
          button#chanopt_submit.btn.btn-sm.btn-primary Save

#permedit.col-lg-12

#filteredit.col-lg-12
  h3 Chat Filters
  p.
    Filters will be processed in the order that they are listed here.
    Click and drag a row to rearrange the order.  Click a regex, flags, or
    replacement field to edit a filter inline.
  strong Add Filter
  form.form-horizontal(role="form", action="javascript:void(0)")
    .form-group
      label.col-lg-3.control-label(for="newfilter_name") Name
      .col-lg-3
        input#newfilter_name.form-control(type="text")
    .form-group
      label.col-lg-3.control-label(for="newfilter_regex") Regular Expression
      .col-lg-3
        input#newfilter_regex.form-control(type="text")
    .form-group
      label.col-lg-3.control-label(for="newfilter_flags") Flags
      .col-lg-3
        input#newfilter_flags.form-control(type="text", placeholder="g")
    .form-group
      label.col-lg-3.control-label(for="newfilter_replace") Replacement
      .col-lg-3
        input#newfilter_replace.form-control(type="text")
    .form-group
      label.col-lg-3.control-label(for="newfilter_filterlinks") Filter Links
      .col-lg-3
        .checkbox
          input#newfilter_filterlinks(type="checkbox")
    .form-group
      label.col-lg-3.control-label(for="newfilter_submit") Create Filter
      .col-lg-3
        button#newfilter_submit.btn.btn-sm.btn-primary Create
  table.table.table-striped.table-condensed
    thead
      tr
        th Delete
        th Name
        th Regex
        th Flags
        th Replacement
        th Affects Links
        th Active
  p.
    Multi-Filter Editor (format: name regex flags replacement).
    Only use this if you know what you are doing.
  form.form-horizontal(role="form", action="javascript:void(0)")
    .form-group.col-lg-12
      textarea#multifiltereditor.form-control(rows="10")
    .form-group.col-lg-12
      button#multifiltersubmit.btn.btn-sm.btn-primary Add/Update

#motdedit.col-lg-12
  h2 MOTD Editor
  p.
    Enter HTML below to be displayed in the MOTD box above the chat/video.
    Only basic HTML is allowed; tags and attributes which execute
    Javascript will be stripped out.
  form.form-horizontal(role="form", action="javascript:void(0)")
    .form-group.col-lg-12
      textarea#motdtext.form-control(rows="10")
    .form-group.col-lg-12
      button#save_motd.btn.btn-sm.btn-primary Save

#cssedit.col-lg-12
  h2 CSS Editor
  p.
    Maximum size 20KB.  If you need more space, host the file externally and
    use the External CSS option
  form.form-horizontal(role="form", action="javascript:void(0)")
    .form-group.col-lg-12
      textarea#csstext.form-control(rows="10")
    .form-group.col-lg-12
      button#save_css.btn.btn-sm.btn-primary Save

#jsedit.col-lg-12
  h2 Javascript Editor
  p.
    Maximum size 20KB.  If you need more space, host the file externally and
    use the External JS option
  form.form-horizontal(role="form", action="javascript:void(0)")
    .form-group.col-lg-12
      textarea#jstext.form-control(rows="10")
    .form-group.col-lg-12
      button#save_js.btn.btn-sm.btn-primary Save

#banlist.col-lg-12
  h2 Ban List
  table.table.table-striped
    thead
      tr
        th Unban
        th IP
        th Name
        th Aliases
        th Banned By

#loginhistory.col-lg-12
  h2 Recent Connections
  table.table.table-striped
    thead
      tr
        th Name
        th Aliases
        th Time

#channelranks.col-lg-12
  h2 Channel Ranks
  table.table.table-striped
    thead
      tr
        th Name
        th Rank (click to edit)

#chanlog.col-lg-12
  h2 Channel Log
  button#chanlog_refresh.btn.btn-sm.btn-default Refresh
  pre#chanlog_contents
